[paths]
source =
   src/pelican_embedly
   */site-packages/pelican_embedly

[run]
branch = true
source =
    pelican_embedly
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
